$slider-background-strip-color: #e9e9e9;
$slider-progress-strip-color: #abe2fb;
$slider-thumb-border-color: #96dbfa;
$slider-thumb-bg-color: #fff;
$slider-thumb-focus-border-color: #57c5f7;
$slider-thumb-focus-box-shadow-color: #96dbfa;
$slider-thumb-hover-border-color: #57c5f7;
$slider-marker-color: rgb(206, 71, 81);
$slider-tooltip-bg-color: rgba(0, 0, 0, .6);
$slider-tooltip-font-color: white;

$slider-height: 14px;
$slider-strip-height: 4px;
$slider-thumb-size: $slider-height;

.c-slider {
  width: 100%;
  height: $slider-height;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: inline-block;

  .c-slider__strip {
    height: $slider-strip-height;
    width: 100%;
    position: absolute;
    top: ($slider-height - $slider-strip-height) / 2;
    left: 0;
  }

  .c-slider__strip.c-slider__strip--background {
    background-color: $slider-background-strip-color;
  }

  .c-slider__strip.c-slider__strip--progress {
    background-color: $slider-progress-strip-color;
    transition: all .15s ease-out;
  }

  .c-slider__thumb {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    border: solid 2px $slider-thumb-border-color;
    background-color: $slider-thumb-bg-color;
    touch-action: pan-x;

    transition: left .15s ease-out, bottom .15s ease-out;

    &:focus {
      border-color: $slider-thumb-focus-border-color;
      box-shadow: 0 0 0 5px $slider-thumb-focus-box-shadow-color;
      outline: none;
    }

    &:hover {
      border-color: $slider-thumb-hover-border-color;
    }
  }

  &:hover {
    .c-slider__tooltip {
      opacity: 1;
      top: -3px;
    }
  }

  .c-slider__markers {

  }

  .c-slider__marker {
    position: absolute;
    padding: 4px 2px;
    top: 50%;
    height: $slider-height;
    color: white;
    transform: translateX(-50%) translateY(-50%);
    background-color: $slider-marker-color;
    line-height: 7px;
    text-align: center;
    user-select: none;
  }

  .c-slider__thumb:focus + .c-slider__tooltip {
    opacity: 1;
    top: -3px;
  }

  .c-slider__tooltip {
    opacity: 0;
    position: absolute;
    top: -10px;
    padding: 3px;
    font-size: 10px;
    color: white;
    transform: translateX(-50%) translateY(-100%);
    background-color: $slider-tooltip-bg-color;
    border-radius: 3px;
    transition: all .15s ease-out;
    user-select: none;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: $slider-tooltip-bg-color transparent transparent transparent;
    }
  }
}

.c-slider.c-slider--vertical {
  height: 100%;
  width: 14px;
  padding: 5px;

  .c-slider__strip {
    width: 4px;
    height: 100%;
    left: 5px;
    bottom: 0;
    top: auto;
  }

  .c-slider__thumb {
    margin-left: -5px;
    margin-bottom: -7px;
    touch-action: pan-y;
  }

  .c-slider__tooltip {
    top: auto;
    transform: translateX(-100%) translateY(50%);
    left: 0;

    &:after {
      right: -3px;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      border-width: 3px 0 3px 3px;
      border-color: transparent transparent transparent $slider-tooltip-bg-color;
    }
  }

  &:hover {
    .c-slider__tooltip {
      top: auto;
      left: -3px;
    }
  }

  .c-slider__thumb:focus + .c-slider__tooltip {
    top: auto;
    left: -3px;
  }

  .c-slider__marker {
    position: absolute;
    padding: 2px 4px;
    top: auto;
    left: 50%;
    width: $slider-height;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    line-height: 7px;
  }

}